<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Clip</title>

    <!--  tailwind css  -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <style>
        .relative {
            padding-bottom: 0;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            $("#news-box").html("");
            showNews();
        });

        function showNews() {
            $.ajax({
                type: 'GET',
                url: '/api/latest',
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let news = response['all_news']
                        for (let i = 0; i < news.length; i++) {
                            makeCard(news[i]['icon'],news[i]['url'],news[i]['title'],news[i]['desc'],news[i]['date'],news[i]['media'])
                        }
                    } else {
                        alert("기사를 받아오지 못했습니다");
                    }
                }
            });
        }

        function makeCard(icon, url, title, desc, date, media) {
            let tempHtml = `<div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center h-10 w-12 rounded-md bg-indigo-300 text-white">
                            <img class="h-6 w-auto sm:h-10" src="${icon}">
                        </div>
                    </div>
                    <div class="ml-4">
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            <a class="font-semibold" href="${url}">${title}</a>
                        </dt>
                        <dd class="mt-2 text-sm text-gray-500">
                            ${desc} <a>...</a>
                            <a class="mt-2 text-xs text-gray-500 text-blue-300">${date} <a class="mt-2 text-xs text-blue-500">${media}</a></a>
                        </dd>

                    </div>
                </div>`;
            $("#news-box").append(tempHtml);

        }

    </script>


</head>
<body>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-white overflow-hidden">
    <div class="max-w-7xl mx-auto">
        <div class="relative z-10 pb-8 bg-white sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
            <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2"
                 fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                <polygon points="50,0 100,0 50,100 0,100"/>
            </svg>

            <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
                <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start" aria-label="Global">
                    <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
                        <div class="flex items-center justify-between w-full md:w-auto">
                            <a href="http://localhost:5001/">
                                <span class="sr-only">Workflow</span>
                                <img class="h-8 w-auto sm:h-10" src="../static/newsclip.png">
                            </a>
                            <div class="-mr-2 flex items-center md:hidden">
                                <button type="button"
                                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                                        id="main-menu" aria-haspopup="true">
                                    <span class="sr-only">Open main menu</span>
                                    <!-- Heroicon name: menu -->
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M4 6h16M4 12h16M4 18h16"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">

                        <a href="http://localhost:5001/latest" class="font-medium text-gray-500 hover:text-gray-900">최신뉴스</a>

                        <a href="http://localhost:5001/hottest" class="font-medium text-gray-500 hover:text-gray-900">주요뉴스</a>

                        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">로그인</a>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</div>
</div>


<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">latest news</h2>
            <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                최신뉴스
            </p>
            <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
                오늘의 최신 뉴스를 만나보세요.
            </p>
        </div>

        <div class="mt-10">
            <dl id="news-box" class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                            <!-- Heroicon name: globe-alt -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ml-4">
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            <a href="#">최종건, 이란 억류 선원 교섭차 출국…"쉽지 않은 상황"(종합)</a>
                        </dt>
                        <dd class="mt-2 text-sm text-gray-500">
                            &quot;동결자금 요구 들어볼 것…이란과 나눠야 할 대화 많아&quot; (서울=연합뉴스) 김동현 기자 = 최종건 외교부 1차관이 10일 이란에 억류된 한국 선박과
                            선원의 조기 석방을 위해 이란으로 출국했다. 최 차관은 이날 0시3 <a>...</a>
                            <a class="mt-2 text-xs text-gray-500 text-blue-300">2021.01.10. 오전 12:32 <a class="mt-2 text-xs text-blue-500">연합뉴스</a></a>
                        </dd>

                    </div>
                </div>

                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                            <!-- Heroicon name: globe-alt -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ml-4">
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            <a href="#">최종건, 이란 억류 선원 교섭차 출국…"쉽지 않은 상황"(종합)</a>
                        </dt>
                        <dd class="mt-2 text-sm text-gray-500">
                            &quot;동결자금 요구 들어볼 것…이란과 나눠야 할 대화 많아&quot; (서울=연합뉴스) 김동현 기자 = 최종건 외교부 1차관이 10일 이란에 억류된 한국 선박과
                            선원의 조기 석방을 위해 이란으로 출국했다. 최 차관은 이날 0시3 <a>...</a>
                            <a class="mt-2 text-xs text-gray-500 text-blue-300">2021.01.10. 오전 12:32 <a class="mt-2 text-xs text-blue-500">연합뉴스</a></a>
                        </dd>

                    </div>
                </div>

                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                            <!-- Heroicon name: globe-alt -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ml-4">
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            <a href="#">최종건, 이란 억류 선원 교섭차 출국…"쉽지 않은 상황"(종합)</a>
                        </dt>
                        <dd class="mt-2 text-sm text-gray-500">
                            &quot;동결자금 요구 들어볼 것…이란과 나눠야 할 대화 많아&quot; (서울=연합뉴스) 김동현 기자 = 최종건 외교부 1차관이 10일 이란에 억류된 한국 선박과
                            선원의 조기 석방을 위해 이란으로 출국했다. 최 차관은 이날 0시3 <a>...</a>
                            <a class="mt-2 text-xs text-gray-500 text-blue-300">2021.01.10. 오전 12:32 <a class="mt-2 text-xs text-blue-500">연합뉴스</a></a>
                        </dd>

                    </div>
                </div>

                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                            <!-- Heroicon name: globe-alt -->
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                 stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"/>
                            </svg>
                        </div>
                    </div>
                    <div class="ml-4">
                        <dt class="text-lg leading-6 font-medium text-gray-900">
                            <a href="#">최종건, 이란 억류 선원 교섭차 출국…"쉽지 않은 상황"(종합)</a>
                        </dt>
                        <dd class="mt-2 text-sm text-gray-500">
                            &quot;동결자금 요구 들어볼 것…이란과 나눠야 할 대화 많아&quot; (서울=연합뉴스) 김동현 기자 = 최종건 외교부 1차관이 10일 이란에 억류된 한국 선박과
                            선원의 조기 석방을 위해 이란으로 출국했다. 최 차관은 이날 0시3 <a>...</a>
                            <a class="mt-2 text-xs text-gray-500 text-blue-300">2021.01.10. 오전 12:32 <a class="mt-2 text-xs text-blue-500">연합뉴스</a></a>
                        </dd>

                    </div>
                </div>
            </dl>
        </div>
    </div>

</div>


</body>
</html>
